@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

main {
    height: 90vh;
    width: 80vw;
    background-color: beige;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-container{
    background-color: aqua;
    min-width: 500px;
    height: 100px;
}

button{
    width: 50%;
    display: flex;
    gap: 20px;
     
}
